.result {
    border:3px solid green;

    margin: 1rem;
    background-color: yellowgreen;
    color: white;
    padding: 2rem;
    font-size: 2rem;
    width: fit-content;
}
h2 {
    margin-left: 1rem;
    color:darkgreen    
}